<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Filter List Manager</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>org.sourcefoundry.FilterListManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FilterListManager</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.3</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/source-foundry/FilterListManager/master/FilterListManager.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/source-foundry/FilterListManager</string>
	<key>productReleaseNotes</key>
	<string>Pre-release testing build</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2018 Christopher Simpkins, Apache License 2.0</string>
	<key>NSPrincipalClass</key>
	<string>FilterListManager</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
